/* font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* variables initialization */
:root {
    --main-red: #be3144;
    --txt-white: #f0f0f0;
    --hover-ash: #6e6996;
    --background-ash: #45567D;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

header {
    width: 100%;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    z-index: 10;
}

.menus {
    margin-right: 7%;
}

.menus ul {
    display: flex;
}

.menus ul li {
    list-style: none;
    padding: 25px 20px;
}

.menus ul li:hover {
    background: var(--hover-ash);
}

.menus ul li a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--txt-white);
}

.container {
    /* width: 75%; */
    margin-left: auto;
    margin-right: auto;
}

#welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #242426;
}

.intro-text h1{
    color: var(--txt-white);
    font-weight: bold;
    font-size: 6rem;
}

.intro-text p {
    color: var(--main-red);
    font-size: 2.5rem;
    text-align: right;
}

#projects {
    height: 100vh;
    background-color: var(--background-ash);
    padding: 90px 10px;
}

.grid-title {
    color: var(--txt-white);
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
    
}

.project-grid {
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    /* justify-content: center; */

}

.project-box {
    position: relative;
    width: 30vw;
}

.project-box img {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    
}

.project-box .project-tile {
    background-color: #242426;
    width: 100%;
    text-align: center;
    padding: 20px 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.project-box .project-tile a {
    color: var(--txt-white);
    text-decoration: none;
    font-size: 2rem;
}

.code {
    color: red;
    font-size: 2rem;
    padding: 0 15px;
    transition: color .3s ease-in-out;
}

.project-box .project-tile:hover .code{
    color: white;
}

.show-all {
    width: 100%;
    text-align: center;
}

.show-all a {
    text-decoration: none;
    color: var(--txt-white);
    background: #242426;
    font-size: 1.2rem;
    padding: 12px 10px;
    border-radius: 6px;
    transition: .3s ease-out;
}

.show-all a:hover {
    background: var(--main-red);
}

.contact-section {
    height: 50vh;
    padding: 50px 10px;
    text-align: center;
    background: #242426;
}

.contact-section h2 {
    font-size: 3.5rem;
    color: var(--txt-white);
    margin-bottom: 20px;
}

.contact-section>p {
    color: var(--txt-white);
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.social-links ul {
    list-style: none;
    display: flex;
    font-size: 3rem;
    justify-content: space-around;
    margin: 0 20%;
}

.social-links ul li a{
    color: white;
}

.before-footer {
    border: 1px solid red;
}
footer {
    background: #242426;
    color: white;
    height: 10vh;
}

.ftr {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}
